

@keyframes slideInFromBottom {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  @layer smallerScrollBar {
    .scrollbar-medium::-webkit-scrollbar {
      width: 12px;
    }
  }